/* 全局 */
body {
    color: #fff;
    font-family: Inter;
  }
  
  section {
    padding: 2rem 0;
  }
  
 /* .container {
    display: block;
    margin: 0 auto;
    max-width: 1100px;
  } */
  
  .sec-title {
    text-align: center;
  }
  
  .sec-title h3 {
    font-size: 32px;
    font-weight: 700;
  }
  
  .sec-title hr {
    width: 90px;
    border-color: #F4DCB8;
    border-width: 2px;
  }
  
  .sec-title p {}
  
  #custom01_ID,
  #custom03_ID {
    background-color: #4E0000;
  }
  
  #custom02_ID,
  #form_ID {
    background-color: #720000;
  }
  
  
  /* 首圖 */
  .kv-wrapper {
    background-image: url("../images/kv1.jpg");
    background-size: cover;
    height: 636px;
  }
  
  .kv-wrapper h2 {
    padding: 300px 0;
    text-align: center;
    font-size: 64px;
    color: #fff;
  }
  
  /* 圖文組合 */
  .info-group {
    color: #fff;
    width: 750px;
    margin: 0 auto;
  }
  
  .info-group td {
    width: 50%;
    padding: 1rem;
  }
  
  .info-group .info-group-img {
    width: 350px;
    hight: 350px;
    border: 2px solid #F4DCB8;
    border-radius: 300px;
    overflow: hidden;
  }
  
  .info-group .info-group-num {
    color: #F4DCB8;
    text-align: center;
    font-size: 60px;
    font-style: italic;
  }
  
  .info-group .info-group-txt {
    font-size: 32px;
  }
  
  .info-group .info-group-content {
    border-left: 2px solid #F4DCB8;
    padding-left: 2rem;
  }
  
  /* 表單相關設定 */
  .form-group {
    width: 540px;
    margin: 0 auto;
  }
  
  .form-group td {
    padding: 1rem;
    width: 50%;
  }
  
  .form-group input {
    background-color: #ffffff;
    border: 1px solid #F4DCB8;
    width: 100%;
    color: #3a3232;
    padding: 10px 5px;
    font-size: 1rem;
  }
  
  .form-group input[type="radio"] {
    width: 20px;
    height: 20px;
  }
  
  .form-group .form-group-label {
    display: block;
    margin-bottom: 1rem;
  }
  
  .form-group button {
    font-size: 20px;
    background-color: #F4DCB8;
    width: 255px;
    color: #4E0000;
    border: 1px solid #F4DCB8;
    border-radius: 50px;
    padding: 5px;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  /* footer */
  .l-footer {
    background-color: #000000;
    padding: 1rem 0;
    text-align: center;
  }