/* 全局 */
body {
    color: #fff;
    font-family: Inter;
  }

  section {
    padding: 2rem 0;
  }
  
  .sec-title {
    text-align: center;
  }

  h3 {
    font-size: 32px;
    font-weight: 700;
  }

  hr {
    width: 90px;
    border-color: #F4DCB8;
    border-width: 2px;
  }

  #custom01_ID,
  #custom03_ID {
    background-color: #4E0000;
  }
  
  #custom02_ID,
  #form_ID {
    background-color: #720000;
  }
  
  
  /* 首圖 */
  .kv-wrapper {
    background-image: url("../images/kv1.jpg");
    background-size: cover;
    max-width:100%;
    height:auto;
  }
  
  .kv-wrapper h2 {
    padding: 300px 0;
    text-align: center;
    font-size: 64px;
    color: #fff;
  }
  .zoomimage{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}
  
  /* footer */
  .l-footer {
    background-color: #000000;
    padding: 1rem 0;
    text-align: center;
  }


 .max-750{
    max-width:750px;
    margin: 0 auto;
}

 .max-540{
    max-width: 540px;
    margin: 0 auto;
 }

  .img_circle{
    border: 2px solid #F4DCB8;
    border-radius: 50%;
    overflow: hidden;
    max-width: 100%;
  }


 .h4-num{
  color: #F4DCB8;
  text-align: center;
  font-size: 60px;
  font-style: italic;
}

 .h4-text{
  font-size: 32px;
}

 .info-content{
  border-left: 2px solid #F4DCB8;
  padding-left: 2rem;  
}

.form-label {
  display: block;
  margin-bottom: 1rem;
}

.form-group-td {
  padding: 1rem;
  width: 50%;
}

input {
  background-color: #ffffff;
  border: 1px solid #F4DCB8;
  width: 100%;
  color: #3a3232;
  padding: 10px 5px;
  font-size: 1rem;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

button {
  font-size: 20px;
  background-color: #F4DCB8;
  width: 100%;
  color: #4E0000;
  border: 1px solid #F4DCB8;
  border-radius: 50px;
  padding: 5px;
  margin-top: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-group-50 {
  padding: 1rem;
  width: 100%;
} 
